.navbar {
  display: flex;
  height: 60px;
  margin: 0 auto;
  width: 1248px;
  padding: 10px 0 20px 0;
  justify-content: space-between;
}
.navbar button {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  height: 49px;
  line-height: 1.75;
  font-size: 14px;
  width: 130px;
  border-radius: 4px;
  cursor: pointer;
  align-items: center;
  border: none;
  justify-content: space-around;
  outline: none;
  display: flex;
  transition: background 0.3s;
}
.navbar button:hover {
  background-color: #e0e0e0;
}
.navbar button span {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: red;
}
.navbar button img {
  width: 40px;
  object-fit: cover;
  height: 40px;
}
.the-grease {
  width: 1280px;
  margin: 0 auto;
}
.the-grease li {
  margin: 50px 0;
  letter-spacing: 1px;
  text-align: left;
  color: white;
}
.the-grease {
  margin-top: 40px;
}
.the-couch h2 {
  font-size: 3rem;
  color: white;
  font-weight: 100;
}
.the-couch p {
  color: white;
  width: 788px;
  margin: 0 auto;
  padding: 20px 10px;
  font-size: 32px;
}
@media screen and (max-width: 1280px) {
  .the-grease {
    width: 90%;
  }
  .the-couch p {
    width: 70%;
    margin: 0 auto;
  }
  .the-couch h2 {
    width: 70%;
    margin: 0 auto;
  }
  .navbar {
    width: 100%;
    padding: 10px 20px 20px 20px;
  }
}
